body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 944px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.site-logo {
  color: #f07f2e;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.5px;
}

.page-nav {
  display: flex;
  gap: 40px;
}

.page-nav a {
  text-decoration: none;
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.page-nav a:hover {
  color: #f07f2e;
}

/* Main */
/* Section 2 */
.section-title {
}
